<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.qzlife.call.mapper.CCallServiceMapper" >
  <resultMap id="BaseResultMap" type="net.qzlife.call.pojo.CCallService" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="c_scrm_id" property="cScrmId" jdbcType="VARCHAR" />
    <result column="c_service_pk" property="cServicePk" jdbcType="VARCHAR" />
    <result column="c_app_id" property="cAppId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>