<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.qzlife.call.mapper.COutCustomerMapper" >
  <resultMap id="BaseResultMap" type="net.qzlife.call.pojo.COutCustomer" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="c_out_pk" property="cOutPk" jdbcType="VARCHAR" />
    <result column="c_customer_name" property="cCustomerName" jdbcType="VARCHAR" />
    <result column="c_customer_pk" property="cCustomerPk" jdbcType="VARCHAR" />
    <result column="c_customer_phone" property="cCustomerPhone" jdbcType="VARCHAR" />
    <result column="c_service_name" property="cServiceName" jdbcType="VARCHAR" />
    <result column="c_customer_count" property="cCustomerCount" jdbcType="INTEGER" />
    <result column="c_customer_result" property="cCustomerResult" jdbcType="INTEGER" />
    <result column="c_app_id" property="cAppId" jdbcType="VARCHAR" />
    <result column="c_scrm_id" property="cScrmId" jdbcType="VARCHAR" />
    <result column="c_auto_increment" property="cAutoIncrement" jdbcType="INTEGER" />
    <result column="c_service_pk" property="cServicePk" jdbcType="VARCHAR" />
  </resultMap>
</mapper>