<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qzlife.call.mapper.CRecordMapper">
  <resultMap id="BaseResultMap" type="net.qzlife.call.pojo.CRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_pk" jdbcType="VARCHAR" property="cPk" />
    <result column="c_starttime" jdbcType="CHAR" property="cStarttime" />
    <result column="c_source" jdbcType="VARCHAR" property="cSource" />
    <result column="c_destination" jdbcType="VARCHAR" property="cDestination" />
    <result column="c_duration" jdbcType="INTEGER" property="cDuration" />
    <result column="c_billableseconds" jdbcType="INTEGER" property="cBillableseconds" />
    <result column="c_disposition" jdbcType="CHAR" property="cDisposition" />
    <result column="c_uniqueid" jdbcType="CHAR" property="cUniqueid" />
    <result column="c_calltype" jdbcType="CHAR" property="cCalltype" />
    <result column="c_userfield" jdbcType="VARCHAR" property="cUserfield" />
    <result column="c_answertime" jdbcType="VARCHAR" property="cAnswertime" />
    <result column="c_endtime" jdbcType="CHAR" property="cEndtime" />
    <result column="c_servie_id" jdbcType="VARCHAR" property="cServieId" />
    <result column="c_crm_id" jdbcType="VARCHAR" property="cCrmId" />
    <result column="c_app_pid" jdbcType="VARCHAR" property="cAppPid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="net.qzlife.call.pojo.CRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_pk" jdbcType="VARCHAR" property="cPk" />
    <result column="c_starttime" jdbcType="CHAR" property="cStarttime" />
    <result column="c_source" jdbcType="VARCHAR" property="cSource" />
    <result column="c_destination" jdbcType="VARCHAR" property="cDestination" />
    <result column="c_duration" jdbcType="INTEGER" property="cDuration" />
    <result column="c_billableseconds" jdbcType="INTEGER" property="cBillableseconds" />
    <result column="c_disposition" jdbcType="CHAR" property="cDisposition" />
    <result column="c_uniqueid" jdbcType="CHAR" property="cUniqueid" />
    <result column="c_calltype" jdbcType="CHAR" property="cCalltype" />
    <result column="c_userfield" jdbcType="VARCHAR" property="cUserfield" />
    <result column="c_answertime" jdbcType="VARCHAR" property="cAnswertime" />
    <result column="c_endtime" jdbcType="CHAR" property="cEndtime" />
    <result column="c_servie_id" jdbcType="VARCHAR" property="cServieId" />
    <result column="c_crm_id" jdbcType="VARCHAR" property="cCrmId" />
    <result column="c_app_pid" jdbcType="VARCHAR" property="cAppPid" />
  </resultMap>
</mapper>