<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.qzlife.call.mapper.CVisitTaskMapper" >
  <resultMap id="BaseResultMap" type="net.qzlife.call.pojo.CVisitTask" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_visit_pk" property="cVisitPk" jdbcType="VARCHAR" />
    <result column="c_visit_name" property="cVisitName" jdbcType="VARCHAR" />
    <result column="c_visit_phone" property="cVisitPhone" jdbcType="VARCHAR" />
    <result column="c_visit_desc" property="cVisitDesc" jdbcType="VARCHAR" />
    <result column="c_visit_status" property="cVisitStatus" jdbcType="INTEGER" />
    <result column="c_visit_del" property="cVisitDel" jdbcType="VARCHAR" />
    <result column="c_visit_dateline" property="cVisitDateline" jdbcType="INTEGER" />
    <result column="c_service_pk" property="cServicePk" jdbcType="VARCHAR" />
    <result column="c_app_id" property="cAppId" jdbcType="VARCHAR" />
    <result column="c_scrm_id" property="cScrmId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>