<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.qzlife.call.mapper.ICallServiceMapper" >
  <resultMap id="BaseResultMap" type="net.qzlife.call.pojo.ICallService" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="service_pk" property="servicePk" jdbcType="VARCHAR" />
    <result column="scrm_id" property="scrmId" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>